+ 2 feature selection methods were implemented in the paper; removing features with low variance and removing colinear variables.Both will be used here.

In [1]:
import pandas as pd

In [2]:
df_ap = pd.read_csv("atompair_data.csv",sep="\t")

In [3]:
df_ap.head()

,Name,AD2D1,AD2D2,AD2D3,AD2D4,AD2D5,AD2D6,AD2D7,AD2D8,AD2D9,...,AD2D773,AD2D774,AD2D775,AD2D776,AD2D777,AD2D778,AD2D779,AD2D780,label,pIC50
0,CHEMBL370039,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.067019
1,CHEMBL3774737,1,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,8.920819
2,CHEMBL1597831,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,6.017729
3,CHEMBL1455849,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,6.920819
4,CHEMBL3936897,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,6.075721

In [13]:
X= df_ap.drop(["Name","label","pIC50"],axis=1)

In [14]:
from sklearn.feature_selection import VarianceThreshold

In [15]:
var = VarianceThreshold(0)

In [16]:
var.fit(X)

VarianceThreshold(threshold=0)

In [17]:
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])

In [18]:
X.head()

,AD2D2,AD2D3,AD2D4,AD2D5,AD2D6,AD2D7,AD2D8,AD2D9,AD2D10,AD2D11,...,AD2D731,AD2D735,AD2D736,AD2D738,AD2D739,AD2D740,AD2D744,AD2D753,AD2D759,AD2D780
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_ap = pd.concat([X,df_ap[["Name","label","pIC50"]]],axis=1)

In [20]:
df_ap.head()

,AD2D2,AD2D3,AD2D4,AD2D5,AD2D6,AD2D7,AD2D8,AD2D9,AD2D10,AD2D11,...,AD2D738,AD2D739,AD2D740,AD2D744,AD2D753,AD2D759,AD2D780,Name,label,pIC50
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,CHEMBL370039,0,4.067019
1,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,CHEMBL3774737,1,8.920819
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,CHEMBL1597831,1,6.017729
3,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,CHEMBL1455849,1,6.920819
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,CHEMBL3936897,1,6.075721

***

In [21]:
df_apc = pd.read_csv("atompaircount_data.csv",sep="\t")
X= df_apc.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_apc = pd.concat([X,df_apc[["Name","label","pIC50"]]],axis=1)

In [22]:
df_apc.head()

,APC2D1_C_C,APC2D1_C_N,APC2D1_C_O,APC2D1_C_S,APC2D1_C_P,APC2D1_C_F,APC2D1_C_Cl,APC2D1_C_Br,APC2D1_C_I,APC2D1_C_B,...,APC2D10_S_F,APC2D10_S_Cl,APC2D10_S_Br,APC2D10_S_X,APC2D10_F_F,APC2D10_F_X,APC2D10_X_X,Name,label,pIC50
0,17.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CHEMBL370039,0,4.067019
1,23.0,3.0,5.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CHEMBL3774737,1,8.920819
2,29.0,11.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CHEMBL1597831,1,6.017729
3,20.0,12.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CHEMBL1455849,1,6.920819
4,29.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CHEMBL3936897,1,6.075721

In [23]:
df_estate = pd.read_csv("estate_data.csv",sep="\t")
X= df_estate.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_estate = pd.concat([X,df_estate[["Name","label","pIC50"]]],axis=1)

In [24]:
df_estate.head()

,EStateFP6,EStateFP7,EStateFP8,EStateFP9,EStateFP10,EStateFP11,EStateFP12,EStateFP13,EStateFP15,EStateFP16,...,EStateFP50,EStateFP51,EStateFP53,EStateFP54,EStateFP65,EStateFP70,EStateFP75,Name,label,pIC50
0,0,1,0,1,0,1,1,1,0,1,...,0,0,0,0,0,0,0,CHEMBL3774737,0,4.067019
1,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,CHEMBL370039,1,8.920819
2,0,0,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,CHEMBL1597831,1,6.017729
3,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,CHEMBL1455849,1,6.920819
4,0,0,0,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,CHEMBL3936897,1,6.075721

In [25]:
df_ext = pd.read_csv("extended_data.csv",sep="\t")
X= df_ext.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_ext = pd.concat([X,df_ext[["Name","label","pIC50"]]],axis=1)

In [26]:
df_ext.head()

,ExtFP1,ExtFP2,ExtFP3,ExtFP4,ExtFP5,ExtFP6,ExtFP7,ExtFP8,ExtFP9,ExtFP10,...,ExtFP1012,ExtFP1013,ExtFP1014,ExtFP1015,ExtFP1016,ExtFP1017,ExtFP1018,Name,label,pIC50
0,0,0,0,0,0,1,0,0,0,0,...,1,0,1,1,0,0,0,CHEMBL370039,0,4.067019
1,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,0,0,0,CHEMBL3774737,1,8.920819
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,CHEMBL1597831,1,6.017729
3,0,0,0,1,0,0,0,0,0,0,...,1,1,1,1,0,0,0,CHEMBL1455849,1,6.920819
4,0,0,0,0,0,0,0,0,1,0,...,1,1,1,0,0,0,0,CHEMBL3936897,1,6.075721

In [27]:
df_fp = pd.read_csv("fingerprinter_data.csv",sep="\t")
X= df_fp.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_fp = pd.concat([X,df_fp[["Name","label","pIC50"]]],axis=1)

In [28]:
df_graph = pd.read_csv("graph_data.csv",sep="\t")
X= df_graph.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_graph = pd.concat([X,df_graph[["Name","label","pIC50"]]],axis=1)

In [29]:
df_maccs = pd.read_csv("maccs_data.csv",sep="\t")
X= df_maccs.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_maccs = pd.concat([X,df_maccs[["Name","label","pIC50"]]],axis=1)

In [30]:
df_pc = pd.read_csv("pubchem_data.csv",sep="\t")
X= df_pc.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_pc = pd.concat([X,df_pc[["Name","label","pIC50"]]],axis=1)

In [31]:
df_ss = pd.read_csv("substruc_data.csv",sep="\t")
X= df_ss.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_ss = pd.concat([X,df_ss[["Name","label","pIC50"]]],axis=1)

In [32]:
df_sscount = pd.read_csv("substrucount_data.csv",sep="\t")
X= df_sscount.drop(["Name","label","pIC50"],axis=1)
var = VarianceThreshold(0)
var.fit(X)
X = pd.DataFrame(var.transform(X),columns=X.columns[var.get_support()])
df_sscount = pd.concat([X,df_sscount[["Name","label","pIC50"]]],axis=1)

+ **Removing Multicolinearity**

Collinearity is a very common problem in machine learning projects. It is the correlation between the features of a dataset and it can reduce the performance of our models because it increases variance and the number of dimensions. It becomes worst when you have to work with unsupervised models.

In [33]:
#!pip install collinearity

In [35]:
from collinearity import SelectNonCollinear
from sklearn.feature_selection import f_classif

In [36]:
def remove_collinearity(df):
    selector = SelectNonCollinear(0.9,scoring=f_classif)
    X= df.drop(["Name","label","pIC50"],axis=1)
    y = df["label"]
    selector.fit(X.values,y)
    df_ = pd.DataFrame(selector.transform(X.values),columns=X.columns[selector.get_support()])
    return df_

In [37]:
df_ap_ = remove_collinearity(df_ap)
df_apc_= remove_collinearity(df_apc)
df_estate_= remove_collinearity(df_estate)
df_ext_= remove_collinearity(df_ext)
df_fp_= remove_collinearity(df_fp)
df_graph_= remove_collinearity(df_graph)
df_maccs_= remove_collinearity(df_maccs)
df_pc_= remove_collinearity(df_pc)
df_ss_= remove_collinearity(df_ss)
df_sscount_= remove_collinearity(df_sscount)

In [38]:
df_ap_[["Name","label","pIC50"]] = df_ap[["Name","label","pIC50"]]
df_apc_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_estate_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_ext_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_fp_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_graph_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_maccs_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_pc_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_ss_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]
df_sscount_[["Name","label","pIC50"]]= df_ap[["Name","label","pIC50"]]

In [39]:
df_ap_.to_csv("ap_best.csv",index = None, header=True)
df_apc_.to_csv("apc_best.csv",index = None, header=True)
df_estate_.to_csv("estate_best.csv",index = None, header=True)
df_ext_.to_csv("extended_best.csv",index = None, header=True)
df_fp_.to_csv("fingerprinter_best.csv",index = None, header=True)
df_graph_.to_csv("graph_best.csv",index = None, header=True)
df_maccs_.to_csv("maccs_best.csv",index = None, header=True)
df_pc_.to_csv("pubchem_best.csv",index = None, header=True)
df_ss_.to_csv("substruct_best.csv",index = None, header=True)
df_sscount_.to_csv("substructcount_best.csv",index = None, header=True)

***

### Building Classification Model

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score,recall_score
from sklearn.preprocessing import MinMaxScaler

In [43]:
#def build_model(df):
#   X = df.drop(["Name","label","pIC50"],axis=1)
#   y = df["pIC50"]
#   ##Splitting dataset 
#   X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,shuffle=True)
#   X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)
#   X_test = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)
#   ##Fitting to training data
#   rf= RandomForestRegressor(random_state=42)
#   rf.fit(X_train,y_train)
#   ## training set predicition
#   y_train_pred = rf.predict(X_train)
#   ## test set predictions
#   y_test_pred = rf.predict(X_test)
#   ## 10-Fold cross validation
#   cv_results = cross_validate(rf,X_train,y_train,cv=10,scoring=["r2","neg_root_mean_squared_error"])
#   ## Training set validation
#   training_r2 = r2_score(y_train,y_train_pred)
#   training_rmse = mean_squared_error(y_train,y_train_pred)
#   ## Test set validation
#   test_r2 = r2_score(y_test,y_test_pred)
#   test_rmse = mean_squared_error(y_test,y_test_pred)
#   return y_test,y_train_pred,y_test_pred,cv_results,training_r2,training_rmse,test_r2,test_rmse

In [45]:
def build_model_class(df):
    X = df.drop(["Name","label","pIC50"],axis=1)
    y = df["label"]
    ##Splitting dataset 
    scaler = MinMaxScaler()
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,shuffle=True)
    X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)
    ##Fitting to training data
    rf= RandomForestClassifier(random_state=42)
    rf.fit(X_train,y_train)
    ## training set predicition
    y_train_pred = rf.predict(X_train)
    ## test set predictions
    y_test_pred = rf.predict(X_test)
    ## 10-Fold cross validation
    cv_results = cross_validate(rf,X_train,y_train,cv=10,scoring=["precision","recall"])
    ## Training set validation
    training_precision = precision_score(y_train,y_train_pred,average="micro")
    training_recall = recall_score(y_train,y_train_pred,average="micro")
    ## Test set validation
    test_precision = precision_score(y_test,y_test_pred,average="micro")
    test_recall = recall_score(y_test,y_test_pred,average="micro")
    return y_train_pred,y_test_pred,cv_results,training_precision,training_recall,test_precision,test_recall

In [49]:
ap_results=  build_model_class(df_ap_)
apc_results=  build_model_class(df_apc_)
estate_results=  build_model_class(df_estate_)
extended_results=  build_model_class(df_ext_)
graph_results=  build_model_class(df_graph_)
fingerprint_results=  build_model_class(df_fp_)
maccs_results=  build_model_class(df_maccs_)
pubchem_results=  build_model_class(df_pc_)
substr_results=  build_model_class(df_ss_)
substrucount_results=  build_model_class(df_sscount_)

In [58]:
ap_results

(array([1, 1, 1, ..., 1, 1, 0]),
 array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
        1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
        1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
        1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 0, 1, 0, 1, 1]),
 {'fit_time': array([0.16251802, 0.16941595, 0.16583014, 0.16110182, 0.16928387,
         0.16187501, 0.178828  , 0.18878484, 0.16305923, 0.18827701]),
  'score_time': array([0.01239395, 0.01267791, 0.0142889 , 0.01311731, 0.01259327,
         0.01228213, 0.01369786, 0.0126493 , 0.01585078, 0.01234937]),
  'test_precision': array([0.85      , 0.87234043, 0.87368421, 0.84536082, 0.92045455,
         0.84848485, 0.90217391, 0.89247312, 0.83      , 0.87096774]),
  'test_recall': array([0.97701149, 0.94252874, 0.95402299, 0.94252874, 0.93103448,
         0.96551724, 0.95402299, 0.96511628, 0.96511628, 0.94186047])},
 0.9660861594867094,
 0.9660861594867094,
 0.8611111111111112,
 0.8611111111111112)

In [76]:
ap_cvresults = pd.DataFrame(ap_results[2])
ap_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.170897,0.010669,0.161102,0.162653,0.167557,0.176475,0.188785
score_time,10.0,0.013190,0.001137,0.012282,0.012444,0.012664,0.013553,0.015851
test_precision,10.0,0.870594,0.028230,0.830000,0.848864,0.871654,0.887776,0.920455
test_recall,10.0,0.953876,0.014326,0.931034,0.942529,0.954023,0.965116,0.977011

In [77]:
apc_cvresults = pd.DataFrame(apc_results[2])
apc_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.187693,0.017160,0.168837,0.173126,0.185055,0.197340,0.221108
score_time,10.0,0.013647,0.001264,0.012486,0.012691,0.013242,0.013993,0.016413
test_precision,10.0,0.886498,0.022779,0.863158,0.869674,0.879106,0.898404,0.933333
test_recall,10.0,0.950374,0.025529,0.908046,0.933741,0.948009,0.965517,1.000000

In [79]:
estate_cvresults = pd.DataFrame(estate_results[2])
estate_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.127175,0.002157,0.124469,0.126110,0.126313,0.128619,0.131375
score_time,10.0,0.012032,0.000550,0.011593,0.011847,0.011891,0.011967,0.013538
test_precision,10.0,0.886657,0.030081,0.842105,0.865745,0.884814,0.916011,0.922222
test_recall,10.0,0.956161,0.019461,0.930233,0.942529,0.959570,0.965417,0.988506

In [80]:
extended_cvresults = pd.DataFrame(extended_results[2])
extended_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.308801,0.007741,0.299024,0.302300,0.307475,0.315604,0.321620
score_time,10.0,0.016137,0.000371,0.015605,0.015985,0.015998,0.016255,0.016934
test_precision,10.0,0.884714,0.017441,0.854167,0.877943,0.885417,0.898942,0.909091
test_recall,10.0,0.952673,0.022099,0.919540,0.942028,0.948009,0.971264,0.988506

In [81]:
graph_cvresults = pd.DataFrame(graph_results[2])
graph_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.326730,0.019417,0.307824,0.311224,0.322204,0.331240,0.360494
score_time,10.0,0.017058,0.001106,0.015614,0.016201,0.017321,0.017369,0.019241
test_precision,10.0,0.880680,0.020688,0.842105,0.868472,0.883595,0.891862,0.912088
test_recall,10.0,0.951484,0.030438,0.883721,0.936782,0.954023,0.973937,0.988506

In [82]:
fp_cvresults = pd.DataFrame(fingerprint_results[2])
fp_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.308568,0.008003,0.302001,0.303789,0.306633,0.309000,0.329015
score_time,10.0,0.015779,0.000700,0.014974,0.015247,0.015640,0.015993,0.017152
test_precision,10.0,0.880550,0.020849,0.850000,0.868271,0.878275,0.899719,0.909091
test_recall,10.0,0.945763,0.024964,0.918605,0.922414,0.942195,0.962510,0.988506

In [83]:
maccs_cvresults = pd.DataFrame(maccs_results[2])
maccs_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.144037,0.005344,0.138520,0.140498,0.142489,0.146792,0.153981
score_time,10.0,0.012485,0.000809,0.011676,0.011807,0.012292,0.013029,0.013925
test_precision,10.0,0.890395,0.019744,0.860215,0.877961,0.886550,0.901018,0.929412
test_recall,10.0,0.950348,0.023824,0.908046,0.933140,0.948276,0.974138,0.977011

In [84]:
pc_cvresults = pd.DataFrame(pubchem_results[2])
pc_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.168570,0.005456,0.164615,0.164995,0.165865,0.170622,0.181140
score_time,10.0,0.013015,0.000640,0.012583,0.012685,0.012861,0.012940,0.014778
test_precision,10.0,0.896467,0.017424,0.876289,0.880393,0.895055,0.910589,0.921348
test_recall,10.0,0.945736,0.021229,0.918605,0.930433,0.942195,0.965517,0.977011

In [85]:
ss_cvresults = pd.DataFrame(substr_results[2])
ss_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.139570,0.007519,0.131221,0.133577,0.137604,0.144280,0.151901
score_time,10.0,0.012278,0.000974,0.011451,0.011819,0.012037,0.012238,0.014845
test_precision,10.0,0.882479,0.015694,0.861702,0.869520,0.884198,0.892181,0.910112
test_recall,10.0,0.951524,0.021011,0.918605,0.942028,0.948276,0.962343,0.988506

In [86]:
sscount_cvresults = pd.DataFrame(substrucount_results[2])
sscount_cvresults.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.142513,0.007683,0.137778,0.138117,0.138620,0.144471,0.161422
score_time,10.0,0.012099,0.000993,0.011309,0.011483,0.011678,0.012283,0.014243
test_precision,10.0,0.899931,0.013387,0.882979,0.893617,0.900000,0.901905,0.928571
test_recall,10.0,0.950428,0.023005,0.896552,0.944767,0.954023,0.965517,0.976744

In [87]:
ap_results[3:]

(0.9660861594867094,
 0.9660861594867094,
 0.8611111111111112,
 0.8611111111111112)

In [93]:
ap_eval= pd.DataFrame(ap_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
ap_eval

                        0
train_precision  0.966086
train_recall     0.966086
test_precision   0.861111
test_recall      0.861111

In [94]:
ap_eval= pd.DataFrame(ap_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
apc_eval= pd.DataFrame(apc_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
estate_eval= pd.DataFrame(estate_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
ext_eval= pd.DataFrame(extended_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
fp_eval= pd.DataFrame(fingerprint_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
graph_eval= pd.DataFrame(graph_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
maccs_eval= pd.DataFrame(maccs_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
pubchem_eval= pd.DataFrame(pubchem_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
subs_eval= pd.DataFrame(substr_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])
subcount_eval= pd.DataFrame(substrucount_results[3:],index=[["train_precision","train_recall","test_precision","test_recall"]])

In [95]:
ap_eval

                        0
train_precision  0.966086
train_recall     0.966086
test_precision   0.861111
test_recall      0.861111

In [96]:
apc_eval

                        0
train_precision  0.990834
train_recall     0.990834
test_precision   0.869658
test_recall      0.869658

In [97]:
estate_eval

                        0
train_precision  0.951421
train_recall     0.951421
test_precision   0.854701
test_recall      0.854701

In [98]:
ext_eval

                        0
train_precision  0.986251
train_recall     0.986251
test_precision   0.854701
test_recall      0.854701

In [99]:
fp_eval

                        0
train_precision  0.987168
train_recall     0.987168
test_precision   0.867521
test_recall      0.867521

In [100]:
graph_eval

                        0
train_precision  0.980752
train_recall     0.980752
test_precision   0.839744
test_recall      0.839744

In [101]:
maccs_eval

                        0
train_precision  0.978002
train_recall     0.978002
test_precision   0.858974
test_recall      0.858974

In [102]:
pubchem_eval

                        0
train_precision  0.993584
train_recall     0.993584
test_precision   0.876068
test_recall      0.876068

In [103]:
subs_eval

                        0
train_precision  0.956920
train_recall     0.956920
test_precision   0.846154
test_recall      0.846154

In [104]:
subcount_eval

                        0
train_precision  0.982585
train_recall     0.982585
test_precision   0.867521
test_recall      0.867521

### Based on these results, pubchem  fingerprints will be used for building the model.